version: 2
jobs:
  build_and_test:
    docker:
      - image: floydhub/pytorch:1.0.0-gpu.cuda9cudnn7-py3.38
    steps:
      - checkout  # checkout source code to working directory
      - run:
          command: |  # use pip to install dependencies and then launch tests
            pip install pip --upgrade
            pip install Cython
            pip install h5py
            pip install tqdm
            pip install boto3
            pip install sklearn
            pip install joblib
            pip install matplotlib
            pip install pytest
            pip install pytest-cov
            python -m pytest --cov-config .coveragerc --cov=./dosed --cov-fail-under=90 --cov-report=term-missing
workflows:
  version: 2
  build_and_test:
    jobs:
      - build_and_test
